@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  transition: all;
  transition-duration: 200;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    transition: all;
    transition-duration: 200;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  #About,
  #Projects,
  #Contact {
    scroll-margin-top: 7.5vh;
  }

  html {
    scroll-behavior: smooth;
  }

  html,
  body {
    @apply dark:bg-zinc-900 bg-zinc-100;
  }

  body {
    @apply dark:text-zinc-100 text-zinc-900;
  }

  h1 {
    @apply text-3xl md:text-4xl lg:text-6xl;
  }

  h2 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }

  h3 {
    @apply text-base md:text-lg lg:text-xl;
  }

  h4 {
    @apply text-xs md:text-sm lg:text-base;
  }

  h6 {
    @apply text-sm md:text-base lg:text-lg;
  }

  p {
    @apply text-[0.7rem] md:text-[0.8rem] lg:text-[0.9rem];
  }

  a {
    @apply font-bold dark:text-zinc-100 text-zinc-900 hover:text-[#3b82f6] transition-colors duration-200 ease-in;
  }

  .subtext {
    @apply text-zinc-400 dark:text-zinc-500 text-[0.7rem] md:text-[0.75rem] lg:text-[0.8rem] leading-3;
  }

  .maintext {
    @apply text-zinc-600 dark:text-zinc-300;
  }
}

@layer components {
}
